[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
configparser = "*"
pymongo = {extras = ["srv"]}
gunicorn = "*"
python-dateutil = "*"
firebase-admin = "*"
nltk = "*"
sklearn-crfsuite = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
