<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Event Tagging</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>

<body>

    {% include "sidenav.html" %}
    <div class="container" id="main">
    <div class="fixed-top text-center">
        {% include "pagination.html" %}
    </div>
        {% block body %}{% endblock %}  
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
$(function() {
  var availableTags = [
    "promosi","seminar","kuliner","hiburan","seni","kompetisi","kerohanian"
  ];
  
  $(".autocomplete").autocomplete({
    source: availableTags,
    minLength: 0
  }).focus(function(){
    $(this).data("uiAutocomplete").search($(this).val());
  });
});

function changeType(btnOk) {
    var input = $(btnOk).parent().siblings(".autocomplete");
    var valueType = $(input).val();
    var header = $(input).parent().parent().parent();
    var id = $(header).attr("id");
}

$(document).delegate('form', 'submit', function(event) {
    event.preventDefault();
    var $form = $(this);
    var id = $form.attr('name');
    var data = $form.serializeArray();
    var valueType = data[0]['value'];
    var urlToSend = "/api/type/" + id + "/" + valueType;
    $.ajax({
        contentType: "application/json",
        type: "POST",
        url: urlToSend,
        success: function(d){
            $form.popover('show')
            setTimeout(function() {$form.popover('hide')},1000);
        }
    });
});

function tagging(btnTag) {
    var btnToken = $(btnTag).parent().siblings(".tag");
    var tokenId = $(btnToken).attr("id");
    var obj = tokenId.split("-");

    var id = obj[0];
    var index = parseInt(obj[1])
    var tag = $(btnTag).text();
    var token = $(btnToken).text().trim();
    var data = { 'tag': tag };
    var urlToSend = "/api/" + id + "/" + obj[1];
    $.ajax({
        contentType: "application/json",
        type: "PUT",
        url: urlToSend,
        data: JSON.stringify(data),
        success: function(d){
            changeTag(btnTag)
            tokenColor(btnToken, data.tag)
            changeTimestamp(btnTag, id)
        }
    });
}
function changeTag(btnTag) {
    $(btnTag).addClass("active")
    $(btnTag).siblings(".active").removeClass("active")
}

function changeTimestamp(btnTag, id) {
    var urlToSend = "/api/timestamp/" + id;
    $.ajax({
        contentType: "application/json",
        type: "GET",
        url: urlToSend,
        dataType: "json",
        success: function (d) {
            console.log("Data Update at:" + d['timestamp']);
            $(btnTag).parent().parent().find(".timestamp").html(d['timestamp'])
        }
    })
}

function tokenColor(btnToken, tag) {
    
    tags = [
        'B-NAME', 'I-NAME',
        'B-PLACE', 'I-PLACE',
        'B-TIME', 'I-TIME',
        'B-INFO', 'I-INFO', 'O'
    ]
    b_tag = [
        'btn-danger', 'btn-danger',
        'btn-success', 'btn-success',
        'btn-warning', 'btn-warning',
        'btn-info', 'btn-info', 'btn-default'
    ]
    b_bold = [
        'font-weight-bold', '',
        'font-weight-bold', '',
        'font-weight-bold', '',
        'font-weight-bold', '', ''
    ]

    $(btnToken).removeClass('font-weight-bold')
    for (var i = 0; i < b_tag.length; i++) {
        $(btnToken).removeClass(b_tag[i])
    }
    
    var index = -1;
    for (var i = 0; i < tags.length; i++) {
        if (tags[i] == tag) {
            index = i;
            if (index != -1) {
                $(btnToken).addClass(b_bold[i])
                $(btnToken).addClass(b_tag[i])
                break;
            }
        }
    }
    
}
</script>
</html>
</body>