<div class="text-center">
<div class="btn-group">
{% if pagination.has_prev %}
  <a class="btn btn-secondary" href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a>
{% endif %}
{% for page in pagination.iter_pages() %}
  {% if page %}
    {% if page != pagination.page %}
      <a class="btn btn-secondary" href="{{ url_for_other_page(page) }}">{{ page }}</a>
    {% else %}
      <strong class="btn btn-secondary disabled">{{ page }}</strong>
    {% endif %}
  {% else %}
    <span class="btn btn-secondary disabled">…</span>
  {% endif %}
{% endfor %}
{% if pagination.has_next %}
  <a class="btn btn-secondary" href="{{ url_for_other_page(pagination.page + 1)
    }}">Next &raquo;</a>
{% endif %}
</div>
</div>